= f.error_messages
.field
  = f.label t('invoices.fields.title')
  = f.text_field :title
.field
  = f.label t('invoices.fields.nr')
  = f.text_field :nr
.field
  = f.label t('invoices.fields.from')
  = f.text_area :from
.field
  = f.label t('invoices.fields.client')
  = f.text_area :client
.field
  = f.label t('invoices.fields.price')
  = f.text_field :price
.field
  = f.label t('invoices.fields.ccy')
  = f.text_field :ccy
.field
  = f.label t('invoices.fields.vat')
  = f.text_field :vat
.field
  = f.label t('invoices.fields.due_at')
  = f.date_select :due_at, :order => [:day, :month, :year], :start_year => Time.now.year
.field
  = f.label t('invoices.fields.notes')
  = f.text_area :notes
