- #temp
- total = @comments.map(&:hours).sum * @invoice.price
- vat = total * (@invoice.vat / 100.0)

.invoice
  .from= simple_format(@invoice.from)
  .client= simple_format(@invoice.client)
  .title
    %h1= t('.title')
  .meta
    %ul
      %li= t('.nr') + ': ' + @invoice.nr
      %li= t('.date') + ': ' + @invoice.created_at.strftime('%d.%m.%Y')
      %li= t('.due_date') + ': ' + @invoice.due_at.strftime('%d.%m.%Y')
  .items
    - if @comments.present?
      %table{:cellspacing => 0}
        %tr
          %th.date= t('.date')
          %th= t('.task')
          %th= t('.notes')
          %th.hours= t('.hours')
          %th.fee= t('.fee')
          %th.sum= t('.sum')
        - @comments.each do |comment|
          %tr
            %td= comment.created_at.to_date.to_s(:short)
            %td= comment.target.name
            %td= comment.body
            %td= friendly_hours_value(comment.hours)
            %td= @invoice.price
            %td= sprintf('%.2f', comment.hours * @invoice.price)
        %tr.subtotal
          %td{:colspan => 3} 
          %td= friendly_hours_value(@comments.map(&:hours).sum)
          %td
          %td= sprintf('%.2f', total)
        %tr.vat
          %td{:colspan => 3}
          %td.label{:colspan => 2}= "#{@invoice.vat}% #{t('.vat')}:"
          %td= sprintf('%.2f', vat)
        %tr.total
          %td{:colspan => 3}
          %td.label{:colspan => 2}= t('.total') + ':'
          %td.value= sprintf('%.2f', total + vat) + " #{@invoice.ccy}"

    %p= simple_format(@invoice.notes)
